body {
    margin: 0;
    background-color:#d3accb;
    /* content-visibility: auto;  */
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #0e0d0d;
    background-color: #080808;
    border-radius: 100%;
    margin-top: 10px;
    width: 700px;
    height: 700px;
}

.green {
    grid-area: verde;
    background-color: #3cf503;
    border-top-left-radius: 100%;
    background: radial-gradient(circle 1px at 105% 105%, transparent, transparent 180px, green 150px)

}

.red {
    grid-area: vermelho;
    background-color: #f00606;
    border-top-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 105%, transparent, transparent 180px, red 150px)
}

.yellow {
    grid-area: amarelo;
    background-color: #faea04;
    border-bottom-left-radius: 100%;
    background: radial-gradient(circle 1px at 105% 0%, transparent, transparent 180px, yellow 150px)
}

.blue {
    grid-area: azul; /* Defininddo a área*/
    background-color: #1a0772;
    border-bottom-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 0%, transparent, transparent 180px, blue 150px)
}

.selected {
    opacity: 0.6;
}
/*  end background */